.crear-cliente-container {
    background-color: #F0F1EA;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 5rem; /* Añadir separación con el header */
    margin-bottom: 5rem; /* Añadir separación con el footer */
}

.mensaje-error {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #B02A37; /* Rojo más oscuro para mayor contraste */
}

.mensaje-exito {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #1e7e34; /* Verde más oscuro para mayor contraste */
}

form label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.buttom-general {
    background-color: #004AAC; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border-radius: 6rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem; /* Añadir separación con los campos */
}

.buttom-regresar {
    background-color: #f0f1ea; /* Fondo claro */
    color: #004AAC; /* Texto en azul */
    padding: 10px 20px;
    border-radius: 6rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #004AAC; /* Borde azul */
    text-decoration: none; /* Quitar subrayado */
}

.buttom-regresar:hover {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}

form .row {
    margin-top: 1.5rem; /* Añadir separación entre las filas de los campos */
}
