@font-face {
    font-family: "TWK Lausanne";
    src: url('/src/components/fonts/550.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.custom-navbar {
    background-color: #F0F1EA;
    font-family: "TWK Lausanne", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
}

.custom-logo {
    cursor: pointer;
}

.custom-links {
    padding: 1rem;
    padding-right: 1rem;
}

.separation {
    gap: 1.5rem;
}

.nav-link{
    text-decoration: none;
    transition: color 0.3s ease;
    color: #0000;
}

.nav-link:hover {
    color: #473d3dcf;
}

.button-empieza {
    background-color: #004AAC;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.buttom-empieza:hover {
    background-color: #0056b3;
    color: white;
}

@media (min-width: 992px) {
    .custom-navbar {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .separation {
        gap: 3rem;
        margin-left: 2rem;
    }

    .buttom-empieza {
        padding: 0.75rem 1.5rem;
        font-size: 1.5rem;
    }
}