.landing-top{
    background-color: #F0F1EA;
    padding: 5rem;
    background-size: cover;

}

.button-empieza-landing{
    background-color: #004AAC; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Aumenta el padding para hacer que el botón se vea más grande */
    border-radius: 6rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;

}

@media (min-width: 768px) {
    .container-medio {
        max-width: 90%; /* Puedes ajustarlo al porcentaje que prefieras */
    }
}

.landing-top p{
    font-size: 20px;
    padding: 20px 0px;
}

.landing-top h1{
    font-size: 70px;
    padding: 0 0;
}

.landing-top img{
    max-width: 200%;
    height: auto;
}

.container-medio{
    border-radius: 2rem;
    max-width: 80%; /* Para que ocupe todo el ancho posible */
    background-color: #004AAC;
}
.container-abajo{
    border-radius: 2rem;
    max-width: 100%; /* Para que ocupe todo el ancho posible */
    background-color: #FFFFFF;
}
.seccion-medio{
    padding: 5rem;
}

.button-media-landing{
    background-color: #FFFFFF; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Aumenta el padding para hacer que el botón se vea más grande */
    border-radius: 6rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
}

  
.seccion-medio h2{
    font-size: 3rem;
    color: #FFFFFF;
}

.seccion-medio h3{
    font-size: 3rem;
    color: black;
}

.seccion-medio p{
    font-size: 32px;
    color: #FFFFFF;
    padding: 1rem;
}

.seccion-medio img{
    max-width: 100%;
    width: 600px;
    height: 360px;
    border-radius: 2rem;
}
.button-general:hover{
    background-color: #0056b3; /* Color del botón al hacer hover */
    color: white;
}