.landing-top {
    background-color: #F0F1EA;
    padding: 3rem 1rem;
    background-size: cover;
}

.button-empieza-landing {
    background-color: #004bac;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.carta-izquierda{
    padding: 1rem 0rem;
    background-color: rgba(0, 74, 172, 0.6) !important;
}
.carta-derecha{
    padding: 1rem 0rem;
    background-color: #004bac !important;
}

.carta h3{
    padding: 1rem;
}
.carta p{
    padding: 1rem;
}

.container-medio {
    border-radius: 2rem;
    background-color: rgba(0, 74, 172, 0.6);
}

.seccion-medio {
    padding: 3rem 1rem;
}

.button-media-landing {
    background-color: #FFFFFF;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.seccion-medio h2 {
    font-size: 2.5rem;
    color: #FFFFFF;
}

.seccion-medio h3 {
    font-size: 2.5rem;
    color: black;
}

.seccion-medio p {
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 1rem 0;
}

.button-general:hover {
    background-color: #0056b3;
    color: white;
}

@media (min-width: 768px) {
    .landing-top {
        padding: 5rem;
    }

    .landing-top h1 {
        font-size: 4rem;
    }

    .landing-top p {
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    .button-empieza-landing,
    .button-media-landing {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .seccion-medio {
        padding: 5rem;
    }

    .seccion-medio h2,
    .seccion-medio h3 {
        font-size: 3rem;
    }

    .seccion-medio p {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .container-medio {
        max-width: 80%;
    }

    .landing-top h1 {
        font-size: 5rem;
    }

    .landing-top p {
        font-size: 2rem;
    }
}