.lista-creditos-container {
    background-color: #F0F1EA;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 5rem; /* Separación con el header */
    margin-bottom: 5rem; /* Separación con el footer */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.list-group-item {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.list-group-item a {
    color: #004AAC;
    text-decoration: none;
}

.list-group-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}
