/* src/styles.css */

/* Colores personalizados */
:root {
    --primary-color: #004AAC; /* Azul oscuro */
    --secondary-color: #ffffff; /* Blanco */
    --text-color: #000000; /* Negro */
  }
  
  /* Fondo azul oscuro para los encabezados */
  .card-header, .thead-dark {
    background-color: var(--primary-color);
    color: var(--secondary-color); /* Texto blanco */
  }
  
  /* Fondo azul oscuro para todo el sitio */
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color); /* Texto blanco */
  }
  
  /* Estilo personalizado para los títulos */
  h1, h2 {
    color: var(--secondary-color); /* Blanco */
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Tabla estilizada */
  .table {
    background-color: var(--secondary-color); /* Blanco */
    color: var(--text-color); /* Texto negro */
  }
  
  /* Estilo para las filas alternas */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Gris claro */
  }
  
  /* Borde oscuro para la tabla */
  .table-bordered {
    border: 1px solid var(--text-color); /* Negro */
  }
  
  /* Links en blanco */
  a {
    color: var(--secondary-color); /* Blanco */
  }
  